<app-menu></app-menu>
<div class="container margin--vertical-2x">
  <div class="col-md-12">
    <h3 class="title-page-border">
      <span class="title-page--line-yellow">
        Consulta de Empresa
      </span>
    </h3>

    <ng-flash-message></ng-flash-message>

    <form class="margin--top-2x form-guia-comercial" [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="estado">Estado: <span class="error">*</span></label>
          <select class="form-control" id="estado" name="estado" formControlName="estado" (change)="buscaCidade()">
            <option value="" [ngValue]="undefined" [selected]="true"></option>
            <option [ngValue]="estado.id" *ngFor="let estado of estados">{{estado.nome}}</option>
          </select>
          <div *ngIf="submitted && addForm.controls.estado.errors" class="error">
            <div *ngIf="addForm.controls.estado.errors.required">Estado é obrigatório!</div>
          </div>
        </div>
        <div class="col-md-4 form-group">
          <label for="cidade">Cidade: <span class="error">*</span></label>
          <select class="form-control" id="cidade" name="cidade" formControlName="cidade">
            <option value="" [ngValue]="undefined" [selected]="true"></option>
            <option [ngValue]="cidade.id" *ngFor="let cidade of cidades">{{cidade.nome}}</option>
          </select>
          <div *ngIf="submitted && addForm.controls.cidade.errors" class="error">
            <div *ngIf="addForm.controls.cidade.errors.required">Cidade é obrigatório!</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label for="logradouro">Logradouro:</label>
          <input type="text" formControlName="logradouro" maxlength="64" name="logradouro" class="form-control" id="logradouro">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <label for="numero">Número:</label>
          <input type="text" formControlName="numero" maxlength="64" name="numero" class="form-control" id="numero">
        </div>
        <div class="col-md-3 form-group">
          <label for="nome">CEP:</label>
          <input type="text" mask="00000-000" formControlName="cep" maxlength="64" name="cep" class="form-control" id="cep">
        </div>
      </div>

      <div class="row">

      </div>

      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-warning margin--vertical right" id="buscar" type="submit">Buscar</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary margin--vertical right" (click)="limparCampos()" id="limpar" type="button">Limpar</button>
        </div>
      </div>

    </form>

    <div *ngIf="!nenhumResultado" class="table-responsive">
      <table class="table table-striped margin--top-3x">
        <thead>
          <tr>
            <th class="w-25">Nome</th>
            <th class="w-25">Categoria</th>
            <th class="w-25">Endereço</th>
            <th class="w-25">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas | paginate: {itemsPerPage: 10, currentPage: pageActual}">
            <td>{{empresa.nome}}</td>
            <td>{{empresa.categoria.nome}}</td>
            <td>{{empresa.endereco.completo}}</td>
            <td>
              <button class="btn btn-primary" type="button" (click)="editarEmpresa(empresa)"> Editar</button>
              <button class="btn btn-danger" type="button" (click)="excluirEmpresa(empresa)" style="margin-left: 20px;"> Excluir</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" responsive="true" screenReaderPaginationLabel="Paginação" nextLabel="Próximo"></pagination-controls>
    </div>

    <div class="padding--vertical-3x" *ngIf="nenhumResultado">
      <p class="alert alert-no-result">Nenhum resultado!</p>
    </div>

    <div class="row text-align-end">
        <div class="col">
          <button class="btn btn-primary margin--vertical" style="margin-right: 10px" (click)="addEmpresa()"> Adicionar</button>
          <button class="btn btn-warning margin--vertical" (click)="voltar()"> Voltar</button>
        </div>
    </div>

    <ngx-loading [show]="loading"></ngx-loading>

  </div>
</div>
