<div>
  <div class="col-12 login_container-title d-flex align-items-center flex-column">
    <h1 class="login__title title-logo"><strong>Guia</strong>Comercial</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <span class="logo-guia-comercial-branco"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Estado
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/manter-uf">Consulta</a>
            <a class="dropdown-item" href="/add-uf">Cadastro</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Cidade
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/manter-cidade">Consulta</a>
            <a class="dropdown-item" href="/add-cidade">Cadastro</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Categoria
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/manter-categoria">Consulta</a>
            <a class="dropdown-item" href="/add-categoria">Cadastro</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Forma Pagamento
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/manter-forma-pagamento">Consulta</a>
            <a class="dropdown-item" href="/add-forma-pagamento">Cadastro</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manter Empresa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/manter-empresa">Consulta</a>
            <a class="dropdown-item" href="/add-empresa">Cadastro</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mensagem">Mensagem</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="/login">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
