<div class="container">
  <div class="col-md-12 margin--top-2x">
    <h3 class="title-page-border">
      <span class="title-page--line-yellow">
        Alterar Forma de Pagamento
      </span>
    </h3>
    <div class="padding--vertical">

      <form class="form-guia-comercial" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <ng-flash-message></ng-flash-message>
        <input type="text" name="id" class="d-none">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="nome">Nome: <span class="error">*</span></label>
            <input type="nome" [(ngModel)]="formaPagamento.descricao" formControlName="descricao" placeholder="Nome da forma de pagamento" name="descricao" class="form-control" id="descricao">
            <div *ngIf="submitted && addForm.controls.descricao.errors" class="error">
              <div *ngIf="addForm.controls.descricao.errors.required">Nome é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row margin--vertical">
          <div class="col-md-1">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-warning" type="button" (click)="voltar()">Voltar</button>
          </div>
        </div>

      </form>

    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
