<app-menu></app-menu>
<div class="container">
  <div class="col-md-6">
    <h2>Consulta de Usuários</h2>
    <button class="btn btn-danger" (click)="addUser()"> Add User</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden">{{user.id}}</td>
          <td>{{user.nome}}</td>
          <td>{{user.sobrenome}}</td>
          <td>{{user.email}}</td>
          <td><button class="btn btn-danger" (click)="deleteUser(user)"> Excluir</button>
            <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
