.padding--vertical {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding--vertical-2x {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding--vertical-3x {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding--top {
  padding-top: 1rem;
}

.padding--top-2x {
  padding-top: 2rem;
}

.padding--top-3x {
  padding-top: 3rem;
}

.padding--bottom {
  padding-bottom: 1rem;
}

.margin--top {
  margin-top: 1rem;
}

.margin--top-2x {
  margin-top: 2rem;
}

.margin--top-3x {
  margin-top: 3rem;
}

.margin--top-6x {
  margin-top: 6rem;
}

.margin--vertical {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin--vertical-2x {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin--vertical-3x {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin--bottom {
  margin-bottom: 1rem;
}

.margin-bottom-2x {
  margin-bottom: 2rem;
}

.margin--bottom-4x {
  margin-bottom: 4rem;
}
