<app-menu></app-menu>
<div class="container">
  <div class="col-md-12 margin--top-2x">
    <h3 class="title-page-border">
      <span class="title-page--line-yellow">
        Cadastrar Empresa
      </span>
    </h3>
    <div class="padding--vertical">

      <form class="margin--top-2x form-guia-comercial" [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <ng-flash-message></ng-flash-message>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="logradouro">Nome: <span class="error">*</span></label>
            <input type="text" formControlName="nome" [(ngModel)]="empresa.nome" maxlength="64" name="nome" class="form-control" id="logradouro">
            <div *ngIf="submitted && addForm.controls.nome.errors" class="error">
              <div *ngIf="addForm.controls.nome.errors.required">Nome da Empresa é obrigatório!</div>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <label for="email">E-mail: <span class="error">*</span></label>
            <input type="email" formControlName="email" [(ngModel)]="empresa.email" maxlength="64" name="email" class="form-control" id="email">
            <div *ngIf="submitted && addForm.controls.email.errors" class="error">
              <div *ngIf="addForm.controls.email.errors.required">E-mail é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="linkSite">Link Site:</label>
            <input type="text" formControlName="linkSite" [(ngModel)]="empresa.linkSite" maxlength="64" name="linkSite" class="form-control" id="linkSite">
          </div>
          <div class="col-md-6 form-group">
            <label for="linkFacebook">Link Facebook:</label>
            <input type="text" formControlName="linkFacebook" [(ngModel)]="empresa.linkFacebook" maxlength="64" name="linkFacebook" class="form-control" id="linkFacebook">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="linkInstagram">Link Instagram:</label>
            <input type="text" formControlName="linkInstagram" [(ngModel)]="empresa.linkInstagram" maxlength="64" name="linkInstagram" class="form-control" id="linkInstagram">
          </div>
          <div class="col-md-6 form-group">
            <label for="linkTwitter">Link Twitter:</label>
            <input type="text" formControlName="linkTwitter" [(ngModel)]="empresa.linkTwitter" maxlength="64" name="linkTwitter" class="form-control" id="linkTwitter">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <label for="categoria">Categoria: <span class="error">*</span></label>
            <select class="form-control" id="categoria" name="categoria" [(ngModel)]="empresa.categoria.id" formControlName="categoria">
              <option value="" [ngValue]="undefined" [selected]="true"></option>
              <option [ngValue]="categoria.id" *ngFor="let categoria of categorias">{{categoria.nome}}</option>
            </select>
            <div *ngIf="submitted && addForm.controls.categoria.errors" class="error">
              <div *ngIf="addForm.controls.categoria.errors.required">Categoria é obrigatório!</div>
            </div>
          </div>
        </div>

        <h5 class="title-page-border margin--top-2x ">
          <span class="">
            Endereço
          </span>
        </h5>

        <div class="padding--bottom"></div>

        <div class="row">
          <div class="col-md-2 form-group">
            <label for="estado">Estado: <span class="error">*</span></label>
            <select class="form-control" id="estado" name="estado" [(ngModel)]="empresa.endereco.cidade.estado.id" formControlName="estado" (change)="buscaCidade()">
              <option value="" [ngValue]="undefined" [selected]="true"></option>
              <option [ngValue]="estado.id" *ngFor="let estado of estados">{{estado.nome}}</option>
            </select>
            <div *ngIf="submitted && addForm.controls.estado.errors" class="error">
              <div *ngIf="addForm.controls.estado.errors.required">Estado é obrigatório!</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label for="cidade">Cidade: <span class="error">*</span></label>
            <select class="form-control" id="cidade" name="cidade" formControlName="cidade" [(ngModel)]="empresa.endereco.cidade.id">
              <option value="" [ngValue]="undefined" [selected]="true"></option>
              <option [ngValue]="cidade.id" *ngFor="let cidade of cidades">{{cidade.nome}}</option>
            </select>
            <div *ngIf="submitted && addForm.controls.cidade.errors" class="error">
              <div *ngIf="addForm.controls.cidade.errors.required">Cidade é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form-group">
            <label for="logradouro">Logradouro:</label>
            <input type="text" formControlName="logradouro" maxlength="64" name="logradouro" [(ngModel)]="empresa.endereco.logradouro" class="form-control" id="logradouro">
            <div *ngIf="submitted && addForm.controls.logradouro.errors" class="error">
              <div *ngIf="addForm.controls.logradouro.errors.required">Logradouro é obrigatório!</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label for="numero">Número:</label>
            <input type="text" formControlName="numero" maxlength="64" name="numero" class="form-control" id="numero" [(ngModel)]="empresa.endereco.numero">
            <div *ngIf="submitted && addForm.controls.numero.errors" class="error">
              <div *ngIf="addForm.controls.numero.errors.required">Número é obrigatório!</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" formControlName="bairro" maxlength="64" name="bairro" class="form-control" id="bairro" [(ngModel)]="empresa.endereco.bairro">
            <div *ngIf="submitted && addForm.controls.bairro.errors" class="error">
              <div *ngIf="addForm.controls.bairro.errors.required">Bairro é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" formControlName="complemento" maxlength="64" name="complemento" class="form-control" id="complemento" [(ngModel)]="empresa.endereco.complemento">
          </div>
          <div class="col-md-3 form-group">
            <label for="cep">CEP:</label>
            <input type="text" mask="00000-000" formControlName="cep" maxlength="64" name="cep" class="form-control" id="cep" [(ngModel)]="empresa.endereco.cep">
            <div *ngIf="submitted && addForm.controls.cep.errors" class="error">
              <div *ngIf="addForm.controls.cep.errors.required">CEP é obrigatório!</div>
            </div>
          </div>
        </div>

        <h5 class="title-page-border margin--top-2x ">
          <span class="">
            Telefones
          </span>
        </h5>

        <div class="row align-items-end">
          <div class="col-md-2">
            <label for="cidade">Tipo: </label>
            <select class="form-control" id="tipo" formControlName="tipo" name="tipo" [(ngModel)]="telefone.tipo">
              <option value="" [ngValue]="undefined" [selected]="true">Selecione</option>
              <option value="T" [ngValue]="T">Telefone</option>
              <option value="W" [ngValue]="W">Whatsapp</option>
              <option value="C" [ngValue]="C">Celular</option>
            </select>
          </div>
          <div class="col-md-1">
            <label for="cep">DDD:</label>
            <input type="text" mask="000" maxlength="3" formControlName="ddd" name="ddd" class="form-control" id="ddd" [(ngModel)]="telefone.ddd">
          </div>
          <div class="col-md-3">
            <label for="cep">Número:</label>
            <input type="text" maxlength="8" name="numero" formControlName="numeroTelefone" class="form-control" id="numero" [(ngModel)]="telefone.numero">
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary" type="button" (click)="adicionarTelefone()">Adicionar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div *ngIf="empresa.telefone.length > 0" class="table-responsive">
              <table class="table table-striped margin--top-3x">
                <thead>
                  <tr>
                    <th class="w-25">Tipo</th>
                    <th class="w-25">DDD</th>
                    <th class="w-25">Número</th>
                    <th class="w-25">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let telefone of empresa.telefone | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                    <td>{{telefone.tipo}}</td>
                    <td>{{telefone.ddd}}</td>
                    <td>{{telefone.numero}}</td>
                    <td>
                      <button class="btn btn-danger" type="button" (click)="excluirTelefone(telefone)" style="margin-left: 20px;"> Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" responsive="true" screenReaderPaginationLabel="Paginação" nextLabel="Próximo"></pagination-controls>
            </div>
          </div>
        </div>

        <h5 class="title-page-border margin--top-2x ">
          <span class="">
            Horários
          </span>
        </h5>

        <div class="row align-items-end">
          <div class="col-md-2">
            <label for="diaSemana">Dia da Semana: </label>
            <select class="form-control" id="diaSemana" formControlName="diaSemana" name="diaSemana" [(ngModel)]="horario.diaSemana">
              <option value="" [ngValue]="undefined" [selected]="true">Selecione</option>
              <option value="SEGUNDA" [ngValue]="SEGUNDA">Segunda</option>
              <option value="TERCA" [ngValue]="TERCA">Terça</option>
              <option value="QUARTA" [ngValue]="QUARTA">Quarta</option>
              <option value="QUINTA" [ngValue]="QUINTA">Quinta</option>
              <option value="SEXTA" [ngValue]="SEXTA">Sexta</option>
              <option value="SABADO" [ngValue]="SABADO">Sábado</option>
              <option value="DOMINGO" [ngValue]="DOMINGO">Domingo</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="horarioInicial">Hora Inicial:</label>
            <input type="text" mask="Hh:m0" [validation]="true" maxlength="5" formControlName="horarioInicial" name="horarioInicial" class="form-control" id="horarioInicial" [(ngModel)]="horario.horarioInicial">
          </div>
          <div class="col-md-2">
            <label for="horarioFinal">Hora Final:</label>
            <input type="text" maxlength="5" mask="Hh:m0" [validation]="true" name="horarioFinal" formControlName="horarioFinal" class="form-control" id="horarioFinal" [(ngModel)]="horario.horarioFinal">
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary" type="button" (click)="adicionarHorario()">Adicionar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div *ngIf="empresa.horario.length > 0" class="table-responsive">
              <table class="table table-striped margin--top-3x">
                <thead>
                  <tr>
                    <th class="w-25">Tipo</th>
                    <th class="w-25">DDD</th>
                    <th class="w-25">Número</th>
                    <th class="w-25">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let horario of empresa.horario | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                    <td>{{horario.diaSemana}}</td>
                    <td>{{horario.horarioInicial}}</td>
                    <td>{{horario.horarioFinal}}</td>
                    <td>
                      <button class="btn btn-danger" type="button" (click)="excluirHorario(horario)" style="margin-left: 20px;"> Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" responsive="true" screenReaderPaginationLabel="Paginação" nextLabel="Próximo"></pagination-controls>
            </div>
          </div>
        </div>

        <h5 class="title-page-border margin--top-2x ">
          <span class="">
            Formas de Pagamento
          </span>
        </h5>

        <div class="row">
          <div class="col-md-4 form-group">
            <label for="cidade">Forma de Pagamento: <span class="error">*</span></label>
            <select class="form-control" id="formaPagamento" name="formaPagamento" formControlName="formaPagamento" [(ngModel)]="formaPagamento">
              <option value="" [ngValue]="undefined" [selected]="true"></option>
              <option [ngValue]="forma" *ngFor="let forma of formasPagamento">{{forma.descricao}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary" type="button" (click)="adicionarFormaPagamento()">Adicionar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div *ngIf="empresa.formaPagamento.length > 0" class="table-responsive">
              <table class="table table-striped margin--top-3x">
                <thead>
                  <tr>
                    <th class="w-25">Nome</th>
                    <th class="w-25">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let forma of empresa.formaPagamento | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                    <td>{{forma.descricao}}</td>
                    <td>
                      <button class="btn btn-danger" type="button" (click)="excluirFormaPagamento(forma)" style="margin-left: 20px;"> Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" responsive="true" screenReaderPaginationLabel="Paginação" nextLabel="Próximo"></pagination-controls>
            </div>
          </div>
        </div>

        <div class="row margin--vertical">
          <div class="col-md-1">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-warning" type="button" (click)="voltar()">Voltar</button>
          </div>
        </div>

      </form>
      <ngx-loading [show]="loading"></ngx-loading>
    </div>
  </div>
</div>
