<div class="container">
  <div class="col-md-12 margin--top-2x">
    <h3 class="title-page-border">
      <span class="title-page--line-yellow">
        Alterar Estado
      </span>
    </h3>
    <div class="padding--vertical">
      <ng-flash-message></ng-flash-message>
      <form class="form-guia-comercial" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="id" name="id" id="id" class="d-none">

        <div class="row">
          <div class="col-md-3 form-group">
            <label for="estado">Estado: <span class="error">*</span></label>
            <select [compareWith]="compareFn" class="form-control" id="estado" name="estado" formControlName="estado">
              <option value="" [ngValue]=""></option>
              <option [ngValue]="country.id" *ngFor="let country of estados" ng-selected="">{{country.nome}}</option>
            </select>
            <div *ngIf="submitted && addForm.controls.estado.errors" class="error">
              <div *ngIf="addForm.controls.estado.errors.required">Estado é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input type="nome" formControlName="nome" placeholder="Nome" name="nome" class="form-control" id="nome">
            <div *ngIf="submitted && addForm.controls.nome.errors" class="error">
              <div *ngIf="addForm.controls.nome.errors.required">Nome é obrigatório!</div>
            </div>
          </div>
        </div>

        <div class="row margin--vertical">
          <div class="col-md-1">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-warning" type="button" (click)="voltar()">Voltar</button>
          </div>
        </div>

      </form>

    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
