<div class="faixa_login"></div>
<div class="container login d-flex justify-content-center align-items-center">
  <div class="row login__container card h-100 justify-content-center align-items-center flex-column">
    <div class="col-12 login_container-title d-flex align-items-center flex-column">
      <span class="logo-nutri-agenda"></span>
      <h1 class="login__title title-logo"><strong>Nutri</strong>Agenda</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-10 form-nutri-agenda">
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" ui-mask="999.999.999-99" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/" class="form-control" formControlName="cpf" id="cpf" placeholder="Digite seu CPF">
        <div *ngIf="submitted && loginForm.controls.cpf.errors" class="error">
          <div *ngIf="loginForm.controls.cpf.errors.required">CPF é obrigatório!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Senha:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" placeholder="Digite sua senha">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
          <div *ngIf="loginForm.controls.password.errors.required">Senha é obrigatório!</div>
        </div>
      </div>
      <button class="btn button button--secondary">Entrar</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Dados inválidos!</div>
      </div>
    </form>
  </div>
</div>
