$black: #000;
$white: #fff;
$yellow: #fdbb0a;

$primary: #013E7C;
$primary-dark: #005005;
$primary-light: #60ad5e;

$secondary: #ffa000;
$secondary-dark: #c67100;
$secondary-light: #ffd149;
/* Media Sizes */
$screen-xs-min: 458px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-xl-min: 1600px;

$shadow: 0px 2px 10px -3px $black;
