@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Regular.ttf) format("opentype");
}

html {
  font-size: 100%;
  font-family: Roboto;
}

body {
  background-color: #f9f9f9;
}

.faixa_login {
  background-color: $primary-dark;
  height: 50vh;
  width: 100%;
  position: absolute;
}

.logo-guia-comercial {
  background-image: url("assets/img/logo.svg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  position: absolute;
  top: 0;
}

.logo-guia-comercial-branco {
  background-image: url("assets/img/logo-branco.svg");
  height: 60%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  width: 2%;
  position: absolute;
  left: 4%;
}

.title-logo {
  strong {
    color: $primary-dark;
    font-weight: 900;
  }
}

h1 {
  font-size: 1.5rem;
}

@media (min-width: $screen-md-min) {
  h1 {
    font-size: 2.5rem;
  }
}
