.mdb-color.darken-3 {
  background-color: #1c2a48!important;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
}

footer {
  position: absolute;
  width: 100%;
}

.logo-first {
  color: rgba(255, 254, 254, 0.6);
  font-weight: bold;
}
